- url_text_map = { new_good_buy_balances_path => "购买商品", unbalanced_balances_path => "待结算列表", balanced_balances_path => "已结算列表"}

%li.nav-stack-header
  %a 消费结算
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
