- url_text_map = { orders_path => "新场地预定", court_status_search_courts_path=> "场地预定情况查询", coach_status_search_courts_path => "教练日程查询"}

%li.nav-stack-header
  %a 场地管理
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
