- url_text_map = { goods_path => "商品管理", back_goods_path => "后台库存管理", front_goods_path => "前台出库管理", categories_path => "分类管理"}

%li.nav-stack-header
  %a 库存管理
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
