- url_text_map = { lockers_path => "储物柜出租",  rents_path => "出租记录" }
%li.nav-stack-header
  %a 储物柜
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
