- url_text_map = { new_members_card_path => "会员卡绑定",  recharge_members_cards_path => "会员卡充值",
  granters_members_cards_path => "授权人管理", status_members_cards_path => "停卡激活管理"}


%li.nav-stack-header
  %a 会员卡管理
- url_text_map.each_pair do |k, v|
  %li{:class => left_nav_active?(k)}
    = link_to v, k
