- url_text_map = { members_path => "会员列表", new_member_path => "添加会员", advanced_search_members_path => "高级查询"}

%li.nav-stack-header
  %a 会员管理
- url_text_map.each_pair do |k, v|
  %li{:class => left_nav_active?(k)}
    = link_to v, k
