- url_text_map = { logs_path => "操作日志", backup_path => "数据备份", about_path => "关于软件"}

%li.nav-stack-header
  %a 系统管理
- url_text_map.each_pair do |k, v|
  - next unless current_user.menus.include? v
  %li{:class => left_nav_active?(k)}
    = link_to v, k
