- url_text_map = { change_password_users_path => "修改密码", 
 logs_path => "操作日志", backup_path => "数据备份", about_path => "关于软件"}

%li.nav-stack-header
  %a 系统管理
- url_text_map.each_pair do |k, v|
  %li{:class => left_nav_active?(k)}
    = link_to v, k
