Gemfile.lock
tmp
log
public/system/*
nbproject/*
.DS_Store
tmp/**/*
doc/**/*
db/schema.rb
config/database.yml
*.cache
*.pid
db/*.sqlite3
db/cstore/**
vender/rails
*.swp
.irbrc
public/system/**
public/back_dbs/**
public/ckeditor_assets/**
public/javascripts/.DS_Store
.bundle/*
