<div class="tab_content">
  <h1 class="title">场地代买</h1>
  <%= error_messages_for :order %>
  <%=  form_for(@book_record,:url => "/book_records/#{@original_book_record.id}/do_agent",:html => {:class => "form-profile"}) do |order_form| %>
    <%= render :partial => "/book_records/form",:f => order_form %>
  <%end%>
</div>
<%= render :partial => '/book_records/share_js' %>