= table_header(:title => "用户管理", :link => new_user_path)

- columns = {:login => "用户名", :user_name => "昵称", :departments_names => "部门"}
= table_helper(:columns => columns, :collection => @users)
= render :partial => "layouts/page_nav", :locals => {:objs => @users}
