<%= form_for(@department,:html => {:id => "department_form"}) do |f| %>
  <%= error_messages_for :department%>
  <div class='fformbox_nr'>
    <ul>
      <li>
      <div class='w1'>  部门名称：</div>
      <div class='w2'>
        <input type="text" name="department[name]" value="<%=@department.name%>" onblur="return;" id="name" class="inputtext" />
      </div>
      </li>
    </ul>
  </div>
<% end %>
<script type="text/javascript">

  function fsubmit(){
    var form = $("form[0]");
    form.submit();
  }
</script>

