=render :partial => "layouts/errors", :locals => { :target => @department}
= form_for(@department) do |f|
  .fform
    .fformbox_nr
      %ul
        %li
          .w1 部门名称：
          .w2
            = f.text_field :name

    .h10
    .input_bd
      = f.submit "提交", :class => "submit1 hand"
    .clear
