:javascript
  $(document).ready(function(){
    $(".first input").click(function(){
      if($(this).is(":checked")){ $(this).parent().find("li.second input[type=checkbox]").attr('checked', true); }
      else {$(this).parent().find("li.second input[type=checkbox]").attr('checked', false);}
      });


    $(".second input").click(function(){
      if($(this).is(":checked")){ $(this).closest("li.first").children("input").attr('checked', true); }
    });
   });


= form_for  @department, :url => department_power_update_department_path(@department), :html => {:class => "form-profile", :id => "power_tree"} do |f|
  = hidden_field_tag "id", @department.id.to_s
  = raw powers_tree(@department.powers)
  = f.submit "修改了",:class => "btn"
