:javascript
  $(document).ready(function(){
    $("input[type=checkbox]").click(function(){
        if($(this).is(":checked") && $(this).attr('parent_id') == undefined){
          $("input[type=checkbox][value=" + $(this).attr('parent_id') +"]").attr('checked','checked');
        }
      });

   });


= form_for  @department, :url => department_power_update_department_path(@department), :html => {:class => "form-profile", :id => "power_tree"} do |f|
  = hidden_field_tag "id", @department.id.to_s
  = raw powers_tree(@department.powers)
  = f.submit "修改了",:class => "btn"
