
%p.abc  博德维球馆管理系统
%p.abc  Broadwell Club Mangement System
%p.abc  版本号：J.C.  3.1.6
%p.abc  www.broadwell.cn
%p.abc  警告：本计算机程序受著作权和国际公约的保护，
%p.abc
%p.abc  &nbsp; &nbsp;  &nbsp;  &nbsp; 未经授权擅自复制或传播本程序的部分或
%p.abc  &nbsp; &nbsp;  &nbsp;  &nbsp;         全部，可能受到严厉的民事及刑事制裁，
%p.abc  &nbsp; &nbsp;  &nbsp;  &nbsp;         并将在法律许可的范围内受到可能的起诉。
%p.abc  (C) 2012 Broadwell (Beijing) Sports Co.,Ltd. ALL rights reserved.

