= table_header(:title => "场地列表", :link => new_court_path)
- columns = {:name => "名称", :start_time => "开始时间", :end_time => "结束时间", :state_desc => "状态", :description => "说明" }
= render :partial => "layouts/table", :locals => {:collection => @courts, :columns => columns}
= render :partial => "layouts/page_nav", :locals => {:objs => @courts}
