<div class="w96">
  <div class=" r_bt" >
    <div class=" r_bt_l" >
      <div class=" r_bt_l_a" ></div>
      <div class=" r_bt_l_c fb white" >添加新场地</div>
    </div>

    <div class=" r_bt_r" ></div>
  </div>
  <%= render 'form',:court => @court %>
  <div class="h10"></div>
</div>
