.w96
  .r_bt
    .r_bt_l
      .r_bt_l_a
      .r_bt_l_c.fb.white 会员卡充值
    .r_bt_r

  =render :partial => "soso"

#recharge_form_div


:javascript 
  function jump(card_serial_num){
    $("#recharge_form_div").load("#{recharge_form_members_cards_path}?card_serial_num=" + card_serial_num); 
    $("#recharge_form_div select-date").live("click", function(){
        WdatePicker({onpicked:function(dp){}, lang:"zh-cn",isShowToday:true})
      });
  }


- if @members_card
  :javascript
    jump("#{@members_card.card_serial_num}");
