
- columns = {"card_serial_num" => "名称", "card_type_in_chinese" => "卡类型", "left_fee_value" => "余额/余次", "expire_date_to_s" => "有效期", "granter_names" => "授权人"}
= table_helper(:collection => @members_cards, :columns => columns)
