- columns = {:name => "名称", :type_name => "类型", :quantity_or_time => "数量/时间段", :unit_money_price => "单价", :total_cost => "总价"}
= render :partial => "layouts/table", :locals => {:collection => @order.order_items, :columns => columns, :no_operation => true}
