= table_header(:title => "选项", :link => new_common_resource_common_resource_detail_path, :link_text => "Add")
- columns = { :detail_name => "描述" }
= table_helper(:collection => @common_resource_details, :columns => columns )

