=render :partial => "layouts/errors", :locals => { :target => @common_resource_detail}
= form_for([@common_resource, @common_resource_detail], :html => {:class => "form-horizontal well" }) do |f|
  - control_helper("detail_name", "值") do
    = f.text_field :detail_name

  .form-actions
    = f.submit "提交", :class => "btn btn-primary"

