<%- balance_items.each do |item| %>
<ul>
  <li style="width:10%;"><%= item.id %></li>
  <li style="width:10%;"><%=  %></li>
  <li style="width:10%;"><%=  %></li>
  <li style="width:15%;"></li>
  <li style="width:15%;"><%=  %></li>
  <li style="width:15%;"> </li>
</ul>
<%end%>
