= table_header(:title => "教练列表", :link => new_coach_path)
- columns = {:name => "名称", :gender_desc => "性别", :coach_type => "教练类型", :telephone => "联系电话", :fee => "费用", :state_desc => "状态" }
= render :partial => "layouts/table", :locals => {:collection => @coaches, :columns => columns}
= render :partial => "layouts/page_nav", :locals => {:objs => @coachs}
