:css
  .content {
    color:white;
    }
    
  #rent_table{
  }
  

  table#rent_table th{
    background-color: #dfff92;
  }

  table#rent_table td,th{
    border: 1px solid black;
    height: 45px;
    text-align: center;
    width: 100px;
  }

  table td.rent_group_name{ color:black;}
  table th{color:black;}

  .locker_div{
    height: 100%;
    width: 100%;
    padding-top: 10px;
  }


%span.pull-right
  =link_to raw("<i class='icon-arrow-left'> </i>  ") ,  lockers_path(:date => @predate) , :class => "btn btn-mini", :title => "前一天"
  =link_to raw("<i class='icon-refresh'> </i>  ") , lockers_path(:date => @date),  :class => "btn btn-mini", :title => "今天"
  =link_to raw("<i class='icon-arrow-right'> </i>  ") , lockers_path(:date => @nextdate),  :class => "btn btn-mini", :title => "后一天"
  =link_to raw("<i class='icon-print'> </i>  ") , "javascript: window.print();",  :class => "btn btn-mini", :title => "打印"
.clear

.content
  = rents_in_table(@lockers, @date)
.h10
.color
  %span.color03 紫色-使用中
  %span.color05 褐色-即将到期
  %span.color04 绿色-空
.h10
