= table_header(:title => "卡模版列表", :link => new_card_path)
- columns = {:name => "名称", :card_type_in_chinese => "类型", :card_prefix=> "前缀", :state_desc => "状态", :description => "说明" }
= render :partial => "layouts/table", :locals => {:collection => @cards, :columns => columns}
= render :partial => "layouts/page_nav", :locals => {:objs => @cards}
