<h1>资源信息选项</h1>
<div class="item">
  <fieldset class="hidden">
    <p>
      <label for="name">资源信息：<%= @common_resource.description%> </label>
      <input type="hidden" id="common_resource_id" value="<%=@common_resource.id%>" />
      <input type="hidden" id="common_resource_detail_id" value="<%=@common_resource_detail.nil? ? '' :@common_resource_detail.id%>" />
    </p>
    <p>
        <label for="name">选项： </label>
        <input name="detail_name" id="detail_name" type ="text" value="<%= (@common_resource_detail.nil? ? '' : @common_resource_detail.detail_name) %>" class="inputtext"/>
    </p>
  </fieldset>
  <p align="center">
    <a href="javascript:void(0);" onclick="r_submit();return false;">确认操作</a>
  </p>
</div>
<script type="text/javascript">
  function r_submit(){
  var type = 1;//edit
  var detail_id = $("#common_resource_detail_id")[0].value;
  var common_resource_id = $("#common_resource_id")[0].value;
  if(detail_id == ""){
    type = 0;//new
  }
  var detail_name = $("#detail_name")[0].value
   $.getJSON("/common_resources/update_detail",
      {'type':'json', 'common_resource_id':common_resource_id, 'detail_id':detail_id, 'detail_name':detail_name, 'type':type},
      function(data){
        alert(data);
        location.reload();
      });
     }
</script>