.color {position: fixed; bottom: 0px; right:0px; background-color: gray;}
.color SPAN {BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #000 1px solid; MARGIN-RIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center;}
.color01 {BACKGROUND: #ff0000; COLOR: white;}
td.color01 a {color: white;}
.color02 {BACKGROUND: #dcdcdc; COLOR: white;}
td.color02 a {color: white;}
.color03 {BACKGROUND: #800080; COLOR: white;}
td.color03 a {color: white;}
.color04 {BACKGROUND: #008000; COLOR: white;}
td.color04 a {color: white;}
.color05 {BACKGROUND: #993333; COLOR: white;}
td.color05 a {color: white;}
.color06 {BACKGROUND: #0066ff; COLOR: white;}
td.color06 a {color: white;}

table.report_table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 98%;
  
}

table.report_table select{
  width: 60px;
}

table.report_table tr.head{
  font-size: 14px;
  font-weight: bold;
}

table.report_table tr.sep{
  height: 15px;
}

table.report_table td{
  border: 1px solid black;
  padding: 3px;
}

table.report_table td input{
  border: 0px;
}

table.report_table td.mon{
  text-align:right;
}

table.report_table tr.report_title td{
  text-align:center;
}

.tr_hover{
 background-color: #9be284; 
}

.overflow_hidden{
  overflow:hidden;
}

.index_order_table
{
  width: 100%;
  font-size:12px;
}


.index_order_table tr.court_name{
  background-color: #eee;
}

.index_order_table tr.court_name td{
  border-top: 1px solid black;
}

.index_order_table td{
  padding: 3px; 
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.index_order_table td.first_td{
  border-left: 1px solid black;
}

.index_order_table a{
  color: black;
}




