%span.pull-right
  =link_to raw("<i class='icon-print'> </i>  ") , "javascript: window.print();",  :class => "btn btn-mini", :title => "打印"

= render :partial => "highlight_hover"

.span6

  = raw display_good_type_day_report(@date,@good_type)
