
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xml:lang="zh-CH" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>balance print</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <%= stylesheet_link_tag "print",:media => "print"%>
    <%= stylesheet_link_tag "normal"%>
  </head>

  <body>
   
  <%= raw display_good_type_day_report(@date,@good_type) %>
<div class='noprint'>
  <form>
    <input type="button" value="打印" class='submit' style='margin-top:20px; margin-left:130px;padding:3px 7px;border:1px solid black;' onClick="window.print()" />
  </form>
</div>
  </body>
</html>


<div class='w96'>
</div>

<div class="h10"></div>

<script type='text/javascript'>
 function recalculate(){
   params = "date=" +$('#date_year').val() + "-" + $('#date_month').val() + "-" + $("#date_day").val(); 
   $('.pay_ways:checked').each(function(i,node){ params += ("&" + "pay_ways[]=" + $(this).val())});
   window.location = (window.location.pathname + "?" + params);
 }
</script>
