<style type="text/css">
  #menu li a:hover{background: #E78F08}
</style>
<div class='menu'>
  <ul id='menu'>
    <li>
      <a title="基础信息管理" id="a" href="#" class="parent">
        <p><img src="/images/new/tb_01.gif"  alt="" />基础信息管理</p>
      </a>
    </li>
    <li>
      <a title="会员管理" id="d" href="#" class="parent">
        <p><img src="/images/new/tb_04.gif"  alt=""/> 会员管理</p>
      </a>
    </li>
    <li>
      <a title="会员卡管理" id="c" href="#" class="parent">
        <p><img src="/images/new/tb_03.gif"  alt=""/> 会员卡管理</p>
      </a>
    </li>
    <li>
      <a title="场地预定" id="f" href="#" class="parent">
        <p><img src="/images/new/tb_06.gif"  alt=""/> 场地预定</p>
      </a>
    </li>
    <li>
      <a title="商品库存管理" id="b" href="#" class="parent">
        <p><img src="/images/new/tb_02.gif"  alt=""/> 商品库存管理</p>
      </a>
    </li>
    <li>
      <a title="分析报表" id="e" href="#" class="parent">
        <p><img src="/images/new/tb_05.gif"  alt=""/> 分析报表</p>
      </a>
    </li>
    <li>
      <a title="消费结算" id="g" href="#" class="parent">
        <p><img src="/images/new/tb_07.gif"  alt=""/> 消费结算</p>
      </a>
    </li>
    <li>
      <a title="权限管理" id="h" href="#" class="parent">
        <p><img src="/images/new/tb_08.gif"  alt=""/> 权限管理</p>
      </a>
    </li>
    <li>
      <a title="系统管理" id="i" href="#" class="parent">
        <p><img src="/images/new/tb_09.gif"  alt=""/> 系统管理</p>
      </a>
    </li>
  </ul>
</div>