<div class="w178 menu_item" id="<%= current_menu%>">
  <div class="bt1 f14b white" ><%= menus_map[current_menu.to_sym] %></div>
  <div class="left_nav" >
    <div class="xdh">
      <%= render :partial => "menus/#{current_menu}" %>
    </div>
    <div class="h10" ></div>
  </div>
</div>

