<div class="sidenav">
  <input id="calendar_con"  type="text" class="datetime_input" name="txt2" value="<%= ftime(@date)%>" /><br />
  <div type="text" id="datepicker"></div>
  <div style="height: 10px;">
  </div>

  <h1 style="cursor:pointer" onClick="$('#memu_common').toggle(600);">基础信息管理</h1>
  <ul id="memu_common" <% unless should_display_common_memu? %> style="display:none" <%end%>>
    <li><a href="/period_prices">时段价格管理</a></li>
    <li><a href="/cards">卡模板管理</a></li>
    <li><a href="/courts">场地管理</a></li>    
    <li><a href="/vacations">节假日管理</a></li>
    <li><a href="/coaches">教练管理</a></li>
  </ul>

  <h1 style="cursor:pointer" onClick="$('#memu_member').toggle(600);">会员管理</h1>
  <ul id="memu_member" <% unless should_display_member_memu? %> style="display:none" <%end%>>
    <li><a href="/members/new">添加会员</a></li>
    <li><a href="/members">会员查询</a></li>
  </ul>

  <h1 style="cursor:pointer" onClick="$('#memu_member_card').toggle(600);">会员卡管理</h1>
  <ul id="memu_member_card" <% unless should_display_member_card_memu? %> style="display:none" <%end%>>
    <li><a href="/members/member_card_bind_index">会员卡绑定</a></li>
    <li><a href="/member_cards/search">会员卡充值</a></li>
  </ul>

  <h1 style="cursor:pointer" onClick="$('#memu_goods').toggle(600);">商品库存管理</h1>
  <ul id="memu_goods" <% unless should_display_goods_memu? %> style="display:none" <%end%>>
    <li><a href="/goods">商品基本信息管理</a></li>
    <li><a href="/goods?p=back">商品后台库存管理</a></li>
    <li><a href="/goods?p=front">商品前台出库管理</a></li>
  </ul>

  <h1 style="cursor:pointer" onClick="$('memu_report').toggle()">分析报表</h1>
  <ul id="memu_report" name="<%= params[:controller] %>" <% unless params[:controller] =~ /account/ || params[:action] =~ /use_rate/ %> style="display:none" <%end%>>
    <li><a href="/account_items/coach_items">教练分帐报表</a></li>
    <li><a href="/accounts">时间段内收入报表</a></li>
    <li><a href="/account_items">会员消费明细</a></li>
    <li><a href="/tennis_courts/use_rate">场地使用率</a></li>
  </ul>

  <h1 style="cursor:pointer" onClick="$('#memu_court').toggle(600)">场地预定</h1>
  <ul id="memu_court" <% unless should_display_book_record_menu? %> style="display:none" <%end%>>
    <li><a href="/book_records">新场地预定</a></li>
    <li><a href="/advanced_orders/new">新场地周期性预定</a></li>
    <li><a href="/courts/court_status_search">场地预定情况查询</a></li>
    <li><a href="/courts/coach_status_search">教练日程查询</a></li>
  </ul>
  <h1 style="cursor:pointer" onClick="$('#memu_consume').toggle()">消费结算</h1>
  <ul id="memu_consume" <% unless params[:controller] =~ /balances|product_records/ %> style="display:none" <%end%>>
    <li><a href="/balances/">场地待结算列表</a></li>
    <li><a href="/balances/balanced">场地已结算列表</a></li>
    <li><a href="#">购买商品</a></li>
  </ul>
  <h1 style="cursor:pointer" onClick="$('#memu_authorize').toggle(600);">权限管理</h1>
  <ul id="memu_authorize" <% unless should_display_authorize_menu? %> style="display:none" <%end%>>
    <li><a href="/users">用户管理</a></li>
    <li><a href="/departments">部门管理</a></li>
    <li><a href="/catenas">连锁店管理</a></li>
  </ul>
</div>