!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=gb2312", "http-equiv" => "Content-Type"}/
    %title 博德维网球管理系统
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    %body
      - if flash[:notice]
        .alert
          %a{:class => "close", "data-dismiss" => "alert"} x
          %strong= flash[:notice]
      = yield

  :javascript
    $("#flash_notice").delay(2000).fadeOut();
    $(".date-type-input, .select-date").datepicker({ changeMonth: true, changeYear: true });
