!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=gb2312", "http-equiv" => "Content-Type"}/
    %title 博德维网球管理系统
    = javascript_include_tag "application", "m97/WdatePicker", "new_datepicker"
    = stylesheet_link_tag "application"
    %body
      - if flash[:notice]
        #flash_notice= flash[:notice] 
      = yield

  :javascript
    $("#flash_notice").delay(2000).fadeOut();
