= form_tag members_path, :class => "form-horizontal well", :method => :get, :id => "search_form"  do
  - control_helper(:name, "会员名称", :left) do
    = text_field_tag :name, "", :onclick => "$('#card_serial_num').attr('value','');", :autocomplete => "/members/autocomplete_name", :value => params[:name]

  - control_helper(:card_serial_num, "会员卡号", :right) do
    = text_field_tag :card_serial_num, "", :autocomplete => "/members/autocomplete_card_serial_num", :onclick => '$("#name").attr("value","");', :value => params[:card_serial_num], :id => "card_serial_num"

  
.pull-right
  = submit_tag "查询", :class => "btn "
 
.clear
