<!-- <label align="right">
  <%#= link_to '创建新会员', new_member_path %>
  | <%#= link_to '会员卡绑定',{:controller => :members, :action => :member_card_bind_index, :member_id => @member.id}%>
  <br />
</label> -->
<br />
<%= render :partial => "member_card_list"%>
<div class="btn t_center">    
  
</div>