/
  <label align="right">
  </haml:block><haml:silent>
  </haml:silent><haml:block>  | </haml:block><haml:silent>
  </haml:silent><haml:block>
  <br />
  </label>
%br/
= render :partial => "member_card_list"
.btn.t_center
